<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This site is under maintenance</title>
</head>
<body>
    <main>
        <div class="container">
            <h1>We'll be back soon!</h1>
            <div>
                <p>This site is currently done for maintenance.</p>
                <p>Sorry for the inconvenience but we're performing some work on our site. We'll be back shortly.</p>
            </div>
        </div>
    </main>
</body>
</html>